{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <img src="{{ object.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            <p class="card-text">{{ object.description }}</p>
            <p class="card-text">Цена: {{ object.price }}</p>
            <p class="card-text">Количество: {{ object.quantity }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'admin_staff:products' object.category.id %}">
                <button class="btn btn-success">Вернуться</button>
            </a>
        </div>
    </div>

{% endblock %}